App{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}
.navbar{
    background-color: #EAE8FF ;
    justify-content: center;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}
.welcome{
    justify-items: center;
    justify-content: center;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    width: 100vw !important;
    height: 35vh;
    background-color: #DEE2FC;
}
.welcome .info{
    justify-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 25px;
}
@media screen and (max-width: 375px) {
    .welcome .info{
        justify-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 1.2em;
    }
}
.carousel{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F3;
}
.carousel img{
    display: flex;
    flex-direction: column;
    width: 500px !important;
    height: 450px;
    margin-left: 32vw;
}
.carousel h2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    margin-bottom: 20px;
}
@media screen and (max-width: 375px) {
    .carousel{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 60vh;
        justify-content: center;
        align-items: center;
        background-color: #F0F0F3;
    }
    .carousel h2{
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: oblique;
        font-size: 1.3em;
        margin-bottom: 20px;
    }
    
    .carousel img{
        width: 300px !important;
        height: 250px;
        margin-left: 38px;
    }
}
.work_with {
    background-color: #F5F4FF;
    justify-content: center;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}
.footer {
    background-color: #F0F0F3;
    justify-content: center;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}